<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../stylesheets/import/bootstrap.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="../../stylesheets/import/fontawesome.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="../../stylesheets/style.css"> <!-- load own css -->
    <title>
        {{#if title}}
            {{title}} - Pokémon
        {{else}}
            Insert Title Here
        {{/if}}
    </title>
</head>
<body>
    <div class="row header pull-left"><a class="btn btn-info" style="margin-left: 20px;" href="/">Home</a></div>
    <div class="header pull-right">
        {{#if user}}
        <span style="margin-right: 20px;">Logged in as: {{user.local.email}}</span>
        {{/if}}
    </div>
    <div class="row">
    {{{body}}}
    </div>

</body>
</html>