<div class="text-center welcome">
    <h1>{{{statuscode}}} - {{{message}}}</h1>
        {{#if extramessage}}
                {{extramessage}}
        {{else}}
                Da's nie zo mooi he
        {{/if}}
</div>
