<div class="container">

<div class="header pull-right">
    {{#if user}}
    {{else}}
        <button class="btn-danger"><a id="wittetextaub" href="/user">Login/Register</a></button>
    {{/if}}
</div>
    <div class="text-center">
        <div class="jumbotron welcome">
            <div>
                <h1>Welcome!</h1>
                What would you like to do today?      
            </div>
        </div>
         {{#if user}}
         <a class="btn btn-warning" href="/user/profile">Profile</a>
         {{/if}}
         <a class="btn fbknopje" href="/game">View games</a>  

    </div>
</div>