<div class="container">

<div class="header pull-right">
    <button class="btn-danger"><a id="wittetextaub" href="/user">Login/Register</a></button>
</div>
    <div class="text-center">
        <div class="jumbotron welcome">
            <div>
                <h1>Welcome!</h1>
                Please select a game down below         
            </div>
        </div>  

    </div>
</div>