
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>

        <p>Login or Register with:</p>

        <p>
            <a href="/user/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
            <a href="/user/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        </p>
        <p>
            <a href="/user/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> GoeGol</a>
            <a href="/user/auth/fb" class="btn fbknopje"><span class="fa fa-facebook"></span> Facebook</a>
        </p>

    </div>

</div>