body {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

a {
  color: #00B7FF;
}

.tokentoolong {
  white-space: nowrap; 
  overflow-x: auto;
}

.fbknopje{
  background-color: #3b5998;
  color: white;
}

.welcome{
  margin-top: 50px;
}

#wittetextaub{
  text-decoration: none;
  color: white;
}

.creategame{
  margin-top: 20px;
  
  padding-left: 20px;
  padding-bottom: 20px;

  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
}
